<div class="row">
  <div class="large-4 large-centered columns">
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.text_field :email, placeholder: "邮箱" %>
      <%= f.password_field :password, placeholder: "密码" %>
      <div class="row">
	<div class="large-7 large-centered columns">
	  <div class="row">
	    <div class="large-2 columns">
	      <%= f.check_box :remember_me, {}, true, false%>
	    </div>
	    <div class="large-4 columns">
	      <%= f.label :remember_me, "勿忘我", style: "color:#fff;" %>
	    </div>
	    <div class="large-6 columns">
	      <%= link_to "忘记密码?", new_password_reset_path, style: "color:#fff;" %>
	    </div>
	  </div>
	</div>
      </div>
      <div class="row">
	<div class="large-offset-2 large-4 columns">
	  <%= f.submit "登入", class: "button small", data: { disable_with: '正在处理' } %>
	</div>
    <!--
    <div class="large-6  columns">
	  <br />
	  <%= link_to "现在注册", signup_path %>
  </div>
  ------>
      </div>
    <% end %>
  </div>
</div>
