<% provide(:title, '创建队伍') %>
<h1>创建队伍！</h1>
<div class="row">
  <div class="large-8 large-centered columns">
    <%= form_for([:admin, @team]) do |f| %>
      <%= render 'admin/shared/error_msg', object: f.object, name: "表格" %>
      <%= render 'fields', f: f %>

      <div class="row collapse">
	<div class="large-3 small-3 columns">
	  <span class="attached-label">组长id</span>
	</div>
	<div class="large-9 small-9 columns">
	  <%= f.text_field :leader_id, class: "attached-input" %>
	</div>
      </div>

      <div class="row">
	<div class="small-3 large-3 large-offset-4 columns">
	  <%= f.submit "确认", class: "button", data: { disable_with: '正在处理' } %>
	</div>
      </div>
    <% end %>
  </div>
</div>
